<div class="container-fluid">
	<div class="col-md-6">
		<div class="container-fluid" style="padding-top:2em;">
			<div style="font-size: 24px;">
				<i class="glyphicon glyphicon-grain" aria-hidden="true"></i> Recipes
			</div>
			<div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Current</th>
						</tr>
					</thead>
					<tbody>
						{{#each model.recipes as |recipe|}}
						<tr>
							<td>{{#link-to "recipe" recipe.id}}{{recipe.beer.name}}{{/link-to}}</td>
						</tr>
						{{/each}}
					</tbody>
					{{#if canAddRecipe}}
					<thead>
						<tr>
							<th colspan="2">Create New</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<form {{action 'createRecipe' on='submit'}}>
									{{#power-select options=model.beers selected=selectedBeer onchange=(action (mut selectedBeer)) as |beer|}}
									{{beer.name}}
									{{/power-select}}
									<button type="submit">Create</button>
								</form>
							</td>
						</tr>
					</tbody>
					{{/if}}
				</table>
			</div>
		</div>
	</div>
</div>