<div class="container-fluid">
	<div class="col-md-6">
		<h2>Beer Recipes</h2>
		<ul>
			{{#each model as |recipe|}}
			<li>Recipe: {{#link-to "recipe" recipe.id}}{{recipe.beer.name}}{{/link-to}}</li>
			{{/each}}
		</ul>
	</div>
</div>